<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- 前台服务权限（Android 9+ 必须） -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
<!--    步数权限 -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>


    <application>
        <service android:name=".sensor.SensorService"/>

    </application>
</manifest>